.item {
  transition: background-color, height, top;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  overflow: hidden;
  background-color: var(--color-bg);
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
}

.item:hover,
.item:focus,
.expanded {
  z-index: 1;
}

.item:hover {
  background-color: var(--color-bg-hover);
}
.expanded,
.item:focus {
  background-color: var(--color-bg-focus);
}

.image {
  width: 48px;
  aspect-ratio: 1;
  margin-right: 1rem;
}

.title {
  height: 48px;
  display: flex;
  align-items: center;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
}

.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--color-border);
}

.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 0 1rem;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: border-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.tab:hover,
.tab:focus {
  border-bottom-color: var(--color-border-hover);
}

.tab.active {
  border-bottom-color: var(--color-border-active);
}
