.button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.button {
  display: inline-flex;
  border-radius: var(--button-border-radius, 0.5rem);
  letter-spacing: 0.075rem;
  font-weight: 600;
  font-family: var(--font-family);
  cursor: pointer;
  border: none;
  background: var(--button-bg-color, var(--color-primary));
  color: var(--button-text-color, var(--color-white));
  transition-property: border-color, background-color, color, transform;
  transition-duration: var(--button-transition-duration);
  transition-timing-function: var(--button-transition-duration);
}

.button:hover,
.active,
.button:focus,
.button:focus-visible {
  box-shadow: 0 0 0 2px var(--button-bg-color);
  outline: 8px auto var(--color-bg);
}

.primary {
  --button-bg-color: var(--color-primary);
  --button-text-color: var(--color-white);
}

.secondary {
  --button-bg-color: var(--color-white);
  --button-text-color: var(--color-bg);
}

.tertiary {
  --button-bg-color: var(--color-bg);
  --button-text-color: var(--color-white);
}

.s {
  min-height: 1.5rem;
  padding: 0.375rem 0.75rem;
  font-size: 0.625rem;
  line-height: 1.5;
}

.m {
  min-height: 2rem;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.l {
  min-height: 3rem;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  line-height: 1.5;
}
