.text {
  font-family: var(--font-family);
  transition-property: color, font-size, line-height, font-weight, text-decoration;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.primary {
  color: var(--text-color-primary);
}

.secondary {
  color: var(--text-color-secondary);
}

.tertiary {
  color: var(--text-color-tertiary);
}

.title {
  font-size: 24px;
  line-height: 32px;
}
.subtitle {
  font-size: 20px;
  line-height: 28px;
}
.body {
  font-size: 16px;
  line-height: 24px;
}
.caption {
  font-size: 14px;
  line-height: 20px;
}
.overline {
  font-size: 12px;
  line-height: 16px;
}

.capitalized {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}

.normal {
  white-space: normal;
}
.nowrap {
  white-space: nowrap;
}
.pre {
  white-space: pre;
}
.pre-wrap {
  white-space: pre-wrap;
}
.pre-line {
  white-space: pre-line;
}
.break-spaces {
  white-space: break-spaces;
}
