.bar {
  width: 100%;
}

.sticky {
  position: sticky;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.s {
  min-height: 2rem;
}

.m {
  min-height: 3rem;
}

.l {
  min-height: 4rem;
}
