:root {
  --font-family: 'Nunito', sans-serif;
  --color-white: #ffffff;
  --color-primary: #1c5cac;
  --color-secondary: #ffcb02;
  --color-tertiary: #fe844f;

  --color-gray-300: #e0e0e0;

  --color-bg: #1a1a1a;
  --color-bg-hover: #3a3c64;
  --color-bg-focus: #2e2e4e;

  --color-surface: #32323c;

  --transition-duration: 0.3s;
  --transition-timing-function: ease-in-out;

  /* Button */
  --button-transition-duration: var(--transition-duration);
  --button-transition-timing-function: var(--transition-timing-function);

  --layout-bg-color: #1a1a1a;

  --header-height: 64px;

  --text-color-primary: #ffffff;
  --text-color-secondary: #ddd;
  --text-color-tertiary: #a1a1a1;

  --tooltip-bg-color: #a2a2ff;
  --tooltip-text-color: #ffffff;
  --tooltip-border-color: #646cff;
}

body {
  font-family: var(--font-family);
}

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
