:root {
  --font-family: 'Nunito', sans-serif;
  --color-white: #ffffff;
  --color-primary: #646cff;
  --color-secondary: #a2a2ff;
  --color-tertiary: #1a1a1a;

  --color-gray-300: #e0e0e0;

  --header-height: 64px;
}

body {
  font-family: var(--font-family);
}
