.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--color-border);
}

.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 0 1rem;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: border-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.tab:hover,
.tab:focus {
  border-bottom-color: var(--color-border-hover);
}

.tab.active {
  border-bottom-color: var(--color-border-active);
}
