.checkbox {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.check {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 18px;
  height: 18px;
  background-color: var(--color-bg);
  border-width: 2px;
  border-style: solid;
  border-color: var(--text-color-primary);
  border-radius: 0.25rem;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.check input {
  opacity: 0;
  display: inline-flex;
}

.focused {
  border-color: var(--text-color-primary);
}

.checked .check {
  border-color: var(--text-color-primary);
  background-color: var(--text-color-primary);
}

.check::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 4px;
  width: 4px;
  height: 8px;
  border: solid var(--color-bg);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.focused .check::before {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  width: 22px;
  height: 22px;
  border: solid var(--color-primary);
  border-width: 2px;
  border-radius: 0.5rem;
}
